@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=  +Serif:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-display: "Montserrat", sans-serif;
    --font-sec: "Ancizar Serif", serif;
}


.btn-red {
    @apply bg-red-600 text-white px-6 py-3 rounded-full hover:bg-red-700 transition ;
}


@keyframes scrollHorizontalKiri {
    0% {
        transform: translateX(0%); 
    }
    100% {
        transform: translateX(-50%);
    }
}
@keyframes scrollHorizontalKanan {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}

.scrolling-text-container {
    overflow: hidden;
    white-space: nowrap;
}

.scrolling-text-kanan {
    display: inline-block;
    animation: scrollHorizontalKanan 20s linear infinite;
}
.scrolling-text-kiri {
    display: inline-block;
    animation: scrollHorizontalKiri 20s linear infinite;
}

.scrolling-text:hover {
    animation-play-state: paused;
}


